{% extends "control/base.html" %}

{% block title %}Добавление работника{% endblock title %}

{% block content %}
    <div class="content-section">
        <div class="tabs">
            <form method="GET" action="{{ url_for('control.employees.employees_table') }}">
                <button class="tab-button"><i class="fas fa-list"></i>Список работников</button>
            </form>
            <form method="GET" action="{{ url_for('control.employees.add_employee') }}">
                <button class="tab-button active"><i class="fas fa-plus"></i>Добавить работника</button>
            </form>
        </div>

        <form method="POST">
            <div class="form-group">
                <label>ФИО работника</label>
                <div>
                    <i class="fas fa-user"></i>
                    <input
                        type="text"
                        name="employee_name"
                        value="{{ request.form.get('employee_name', '') }}"
                        class="employee-name"
                        placeholder="ФИО работника"
                        autocomplete="off"
                        required
                    />
                </div>
            </div>

            <div class="form-group">
                <label>Таб. номер работника</label>
                <div>
                    <i class="fas fa-hashtag"></i>
                    <input
                        type="text"
                        name="personnel_number"
                        value="{{ request.form.get('personnel_number', '') }}"
                        class="personnel-number"
                        placeholder="Таб. номер работника"
                        autocomplete="off"
                        required
                    />
                </div>
            </div>

            <div class="form-group">
                <label>Подразделение работника</label>
                <div>
                    <i class="fas fa-briefcase"></i>
                    <input
                        type="text"
                        name="employee_department"
                        value="{{ request.form.get('employee_department', '') }}"
                        class="employee-department"
                        placeholder="Подразделение работника"
                        autocomplete="off"
                        required
                    />
                </div>
            </div>

            <div class="dropdown">
                <label class="dropdown-title">Категория работника</label>
                <input type="checkbox" id="toggle-dropdown">

                {% set selected_category = request.form.get("employee_category") %}
                {% set is_selected = selected_category is not none and selected_category != "" %}

                {% set categories = {
                    "worker": "Рабочий",
                    "specialist": "Специалист",
                    "manager": "Ведущий специалист",
                } %}

                <label for="toggle-dropdown" class="dropdown-label">
                    <div>
                        <i class="fas fa-tag"></i>
                        <span class="{{ 'selected' if is_selected }}">{{ categories.get(selected_category, "Категория работника") }}</span>
                    </div>
                    <i class="fas fa-chevron-down dropdown-icon"></i>
                </label>

                <div class="dropdown-content" id="dropdown-category-list">
                    {% for key, name in categories.items() %}
                        <label data-value="{{ key }}">{{ name }}</label>
                    {% endfor %}
                </div>

                <input type="hidden" name="employee_category" value="{{ selected_category or 'worker'}}">
            </div>

            <div class="form-buttons">
                <button type="submit" class="default-button">
                    <i class="fas fa-save"></i>Сохранить работника
                </button>

                <a href="{{ url_for('control.employees.employees_table') }}" class="default-button">
                    <i class="fas fa-undo"></i>Отменить
                </a>
            </div>
        </form>

        <div class="flashed-messages">
            {% for category, message in get_flashed_messages(with_categories=true) %}
                <div class="{{ category }}" id="message">
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
