{% extends "control/base.html" %}

{% block title %}Редактирование работника{% endblock title %}

{% block content %}
    <div class="content-section">
        <div class="tabs">
            <form method="GET" action="{{ url_for('control.employees.employees_table') }}">
                <button class="tab-button"><i class="fas fa-list"></i>Список работников</button>
            </form>
            <form method="GET" action="{{ url_for('control.employees.add_employee') }}">
                <button class="tab-button"><i class="fas fa-plus"></i>Добавить работника</button>
            </form>
            <form method="GET" action="{{ url_for('control.employees.edit_employee', employee_id=request.view_args['employee_id']) }}">
                <button class="tab-button active"><i class="fas fa-edit"></i>Редактирование работника</button>
            </form>
        </div>

        <form method="POST">
            <div class="form-group">
                <label>ФИО работника</label>
                <div>
                    <i class="fas fa-user"></i>
                    <input
                        type="text"
                        name="employee_name"
                        value="{{ employee_name }}"
                        class="employee-name"
                        placeholder="ФИО работника"
                        autocomplete="off"
                        required
                    />
                </div>
            </div>

            <div class="form-group">
                <label>Таб. номер работника</label>
                <div>
                    <i class="fas fa-hashtag"></i>
                    <input
                        type="text"
                        name="personnel_number"
                        value="{{ personnel_number }}"
                        class="personnel-number {% if personnel_number_error %}input-error{% endif %}"
                        placeholder="Таб. номер работника"
                        autocomplete="off"
                        required
                    />
                </div>
            </div>

            <div class="form-group">
                <label>Подразделение работника</label>
                <div>
                    <i class="fas fa-briefcase"></i>
                    <input
                        type="text"
                        name="employee_department"
                        value="{{ employee_department }}"
                        class="employee-department"
                        placeholder="Подразделение работника"
                        autocomplete="off"
                        required
                    />
                </div>
            </div>

            <div class="form-group">
                <label>Категория работника</label>
                <div>
                    <i class="fas fa-tag"></i>
                    <input
                        type="text"
                        name="employee_category"
                        value="{{ employee_category }}"
                        class="employee-category"
                        placeholder="Категория работника"
                        autocomplete="off"
                        required
                    />
                </div>
            </div>

            <div class="form-buttons">
                <button type="submit" class="default-button">
                    <i class="fas fa-save"></i>Сохранить изменения
                </button>

                <a href="{{ url_for('control.employees.employees_table') }}" class="default-button">
                    <i class="fas fa-undo"></i>Отменить
                </a>
            </div>
        </form>

        <div class="flashed-messages">
            {% for category, message in get_flashed_messages(with_categories=true) %}
                <div class="{{ category }}" id="message">
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
