{% extends "base.html" %}

{% block title %}Страница не найдена{% endblock title %}

{% block content %}
    <div class="error-container">
        <p style="margin: 10px 0;">
Не удается обнаружить указанный сервер/экземпляр.
Время ожидания входа в систему истекло.
При установлении соединения с сервером SQL Server произошла ошибка, связанная с сетью или с определенным экземпляром.
Сервер не найден или недоступен.
Убедитесь, что имя экземпляра указано правильно и на сервере SQL Server разрешены удаленные соединения.
Дополнительные сведения см. в электронной документации по SQL Server.
</p>
        <p style="margin-top: 4px; margin-bottom: 24px;">Возможно, вы ввели неправильный адрес или страница была удалена.</p>
    </div>
{% endblock content %}
