@font-face {
    font-family: "comfortaa";
    src: url("../webfonts/comfortaa-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "montserrat";
    src: url("../webfonts/montserrat-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "comfortaa", sans-serif;
    font-size: 14px;
    letter-spacing: 0.4px;
}
