.form-group {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.form-group input {
    width: 100%;
    height: 45px;
    padding: 14px 12px 14px 40px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.form-group .fas {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}

.toggle-password {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    cursor: pointer;
}
