{% extends "control/base.html" %}

{% block title %}Журнай действий{% endblock title %}

{% block content %}
    <div class="content-section">
        <table>
            <thead>
                <tr>
                    <th style="width: 4%;">&numero;</th>
                    <th style="width: 10%;">Описание действия</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tbody>
                {% for log_id, description in logs %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><span class="delete">Удаление</span></td>
                        <td>{{ description }}</td>
                    </tr>
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><span class="update">Изменение</span></td>
                        <td>{{ description }}</td>
                    </tr>
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><span class="create">Создание</span></td>
                        <td>{{ description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <style>
        span {
            display: block;
            width: 120px;
            padding: 6px 18px;
            border-radius: 18px;
            border-style: solid;
            border-width: 2px;
            text-align: center;
            font-size: 12px;
            background-color: transparent;
        }


        .delete {
            color: #DC3545;
            border-color: #DC3545;
        }

        .create {
            color: #28A745;
            border-color: #28A745;
        }

        .update {
            color: #007BFF;
            border-color: #007BFF;
        }
    </style>
    </div>
{% endblock content %}
