{% extends "control/base.html" %}

{% block title %}Журнай действий{% endblock title %}

{% block content %}
    <div class="content-section">
        <table class="logs-table">
            <thead>
                <tr>
                    <th>&numero;</th>
                    <th>Тип сущности</th>
                    <th>Тип операции</th>
                    <th>Имя пользователя</th>
                    <th>Дата операции</th>
                    <th>Время операции</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        {% set entities = {
                            "task": "Задание",
                            "user": "Пользователь",
                            "employee": "Работник",
                            "work": "Работа",
                            "order": "Заказ",
                        } %}
                        <td><span class="outline-text {{ log.entity_type }}">{{ entities[log.entity_type] }}</span></td>
                        {% set actions = {
                            "delete": "Удаление",
                            "update": "Изменение",
                            "create": "Создание",
                        } %}
                        <td><span class="outline-text {{ log.action }}">{{ actions[log.action] }}</span></td>
                        <td>{{ log.user_name }}</td>
                        <td>{{ log.ip_address }}</td>
                        <td>{{ log.platform }} {{ log.os_version }}</td>
                        <td>{{ log.browser }} {{ log.browser_version }}</td>
                        <td>{{ log.created_at }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
