.icon-button {
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
    color: white;
    cursor: pointer;
    height: 28px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
}

.edit-button {
    background-color: #4caf50;
}
.edit-button:hover {
    background-color: #45a049;
}
.edit-button:active {
    background-color: #388e3c;
    transform: scale(0.9);
}

.delete-button {
    background-color: #dc3545;
}
.delete-button:hover {
    background-color: #c9303f;
}
.delete-button:active {
    background-color: #a82834;
    transform: scale(0.9);
}

.work-list-button,
.reset-password-button,
.view-works-button {
    background-color: #007bff;
}
.work-list-button:hover,
.reset-password-button:hover,
.view-works-button:hover {
    background-color: #0070e9;
}
.work-list-button:active,
.reset-password-button:active,
.view-works-button:active {
    background-color: #005dbc;
    transform: scale(0.9);
}

.actions-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.return-button {
    background: #dc3545;
    border: none;
    padding: 12px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.3s;
}
.return-button:hover {
    background: #c9303f;
}
.return-button i {
    margin-right: 8px;
    text-align: center;
}

.default-button {
    background-color: #4caf50;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    position: relative;
    text-align: center;
    text-decoration: none;
    gap: 14px;
}
.default-button:hover {
    background-color: #45a049;
}

.file-upload-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.file-upload-container input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 0;
    height: 0;
}

.upload-instruction {
    line-height: 2;
}

.upload-button {
    background-color: #3a7bd5;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 400 !important;
    margin: 0 !important;
    transition: background-color 0.3s, transform 0.3s;
    text-align: center;
    width: 295px;
}
.upload-button:hover {
    background-color: #3369c5;
}

.delete-work-button,
.add-work-button {
    background: none;
    border: none;
    cursor: pointer;
    transform: scale(2.2);
    transition: all 0.2s ease-in-out;
}

.delete-work-button {
    color: #dc3545;
}
.delete-work-button:hover {
    color: #c9303f;
}
.delete-work-button:active {
    color: #a82834;
    transform: scale(1.6);
}

.add-work-button {
    color: #4caf50;
}
.add-work-button:hover {
    color: #45a049;
}
.add-work-button:active {
    color: #388e3c;
    transform: scale(1.6);
}
