.container {
    display: flex;
    padding: 10px;
    min-height: 100vh;
    gap: 10px;
    background: #e9ecef;
}

.filter-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.filter-buttons-container {
    display: flex;
    gap: 20px;
}

.filter-buttons-container button {
    flex: 1 1 calc(50% - 10px);
}
