.dropdown {
    width: 100%;
    min-width: 200px;
    max-width: 600px;
    margin-bottom: 20px;
    position: relative;
}

.dropdown-title {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

#toggle-dropdown {
    display: none;
}

.dropdown-label {
    width: 100%;
    min-width: 200px;
    max-width: 600px;
    padding: 14px 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: white;
    color: #888;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    box-sizing: border-box;
}

.dropdown-label div {
    display: flex;
    align-items: center;
    gap: 13.5px;
}

.dropdown-label span.selected {
    color: black;
}

.dropdown-icon {
    color: #888;
    transition: transform 0.2s;
}

#toggle-dropdown:checked + .dropdown-label .dropdown-icon {
    transform: rotate(180deg);
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-height: 150px;
    overflow-y: auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    z-index: 1100;
}

#toggle-dropdown:checked + .dropdown-label + .dropdown-content {
    display: block;
}

.dropdown-content label {
    display: block;
    padding: 8px 12px;
    cursor: pointer;
}

.dropdown-content label:hover {
    background-color: #f0f0f0;
}
