.outline-text {
    display: block;
    width: 120px;
    padding: 6px;
    border-radius: 18px;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    font-size: 12px;
    background-color: transparent;
}

.delete {
    color: #DC3545;
    border-color: #DC3545;
}

.create {
    color: #28A745;
    border-color: #28A745;
}

.update {
    color: #007BFF;
    border-color: #007BFF;
}

.task {
    color: #8D6E63;
    border-color: #8D6E63;
}

.user {
    color: #6F42C1;
    border-color: #6F42C1;
}

.employee {
    color: #FD7E14;
    border-color: #FD7E14;
}

.work {
    color: #1DE9B6;
    border-color: #1DE9B6;
}

.order {
    color: #6C757D;
    border-color: #6C757D;
}
