table {
    border-collapse: collapse;
    margin: 20px 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

table th,
table td {
    height: 54px;
    padding: 0 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background: #1e1e2d;
    color: white;
}

.works-table {
    border-collapse: collapse;
    width: 600px;
}

.works-table th,
.works-table td {
    border: 1px solid #ccc;
    text-align: center;
    height: 44px;
}

.works-table th {
    font-weight: 400;
}

.works-table td input {
    height: 36px;
    padding: 14px !important;
}
