table {
    border-collapse: collapse;
    margin: 20px 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

table th,
table td {
    height: 54px;
    padding: 0 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background: #1e1e2d;
    color: white;
}
