.tabs {
    display: flex;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
}

.tab-button {
    padding: 10px 20px;
    background: #f1f1f1;
    border: 1px solid #ccc;
    border-bottom: none;
    cursor: pointer;
    transition: background 0.3s;
}

.tab-button i {
    margin-right: 8px;
}

.tab-button.active {
    background: #ddd;
}
